.main-header-container {
  padding-left: 40px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: var(--white-color);
}

.main-header-title {
  font-size: 24px;
  color: #334ac3;
}
